<h1><a name="Articles-ApacheShiroArticles"></a>Apache Shiro Articles</h1>

<p>Here are some articles written by and for members of the Apache Shiro community.  Please post any errata to the user or dev <a href="mailing-lists.html" title="Mailing Lists">mailing lists</a>.</p>

<h2><a name="Articles-IntroductoryArticles"></a>Introductory Articles</h2>
<p>New to Shiro? Here are some great introductory articles:</p>

<ul class="alternate" type="square"><li><b><a class="external-link" href="https://www.infoq.com/articles/apache-shiro" rel="nofollow">Application Security with Apache Shiro</a></b> InfoQ article by Les Hazlewood, Apache Shiro PMC Chair.</li></ul>

<ul class="alternate" type="square"><li><b><a href="webapp-tutorial.html" title="Apache Shiro Beginner's Webapp Tutorial">Apache Shiro Beginner's Webapp Tutorial</a>: a step-by-step tutorial to enable Shiro in a web application</b> on 19 November 2013 by Les Hazlewood</li></ul>

<ul class="alternate" type="square"><li><b><a class="external-link" href="https://stormpath.com/blog/whats-new-apache-shiro-12" rel="nofollow">What's new in Apache Shiro 1.2</a></b> on 13 March 2012 by Les Hazlewood.</li></ul>

<ul class="alternate" type="square"><li><b><a class="external-link" href="http://www.ibm.com/developerworks/web/library/wa-apacheshiro/" rel="nofollow">Introducing Apache Shiro</a></b> by Nathan Good on IBM DeveloperWorks, 14 September 2010.</li></ul>

<ul class="alternate" type="square"><li><b>An Introduction to Shiro (formerly JSecurity/Ki) - A Beginner's Tutorial</b> by <a class="external-link" href="http://www.brucephillips.name" rel="nofollow">Bruce Phillips</a>:
	<ul class="alternate" type="square"><li><a class="external-link" href="http://www.brucephillips.name/blog/index.cfm/2009/4/5/An-Introduction-to-Ki-formerly-JSecurity--A-Beginners--Tutorial-Part-1" rel="nofollow">Part 1</a></li><li><a class="external-link" href="http://www.brucephillips.name/blog/index.cfm/2009/4/5/An-Introduction-to-Ki-formerly-JSecurity--A-Beginners--Tutorial-Part-2" rel="nofollow">Part 2</a></li><li><a class="external-link" href="http://www.brucephillips.name/blog/index.cfm/2009/4/5/An-Introduction-to-Ki-formerly-JSecurity--A-Beginners--Tutorial-Part-3" rel="nofollow">Part 3</a></li><li><a class="external-link" href="http://www.brucephillips.name/blog/index.cfm/2009/4/5/An-Introduction-to-Ki-formerly-JSecurity--A-Beginners--Tutorial-Part-4" rel="nofollow">Part 4</a></li><li><a class="external-link" href="http://www.brucephillips.name/blog/index.cfm/2009/5/1/An-Introduction-to-Ki-formerly-JSecurity--A-Beginners-Tutorial-Part-5" rel="nofollow">Part 5</a></li></ul>
	</li></ul>

<h2><a name="Articles-AdditionalArticles"></a>Additional Articles</h2>
<p>Once you've gotten your feet wet, you might find these useful too:</p>

<ul class="alternate" type="square"><li><b><a class="external-link" href="http://czetsuya-tech.blogspot.com/2012/10/how-to-integrate-apache-shiro-with.html?spref=tw" rel="nofollow">How to Integrate Apache Shiro with JavaEE6</a></b> by czetsuya on 11 October 2012.</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="https://mehmetceliksoy.wordpress.com/2015/06/28/shiro-jdbc-realm/" rel="nofollow">Custom Apache Shiro JDBC Realm</a></b> by Mehmet Celiksoy</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="https://bubba-h57.github.io/H57_Shiro/" rel="nofollow">Spring MVC + Shiro + myBatis + JSR-303 Validation</a></b> by Rob Hines et. al. on 2 April 2012.</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="https://www.zkoss.org/wiki/Small_Talks/2012/March/Securing_ZK_Applications_With_Apache_Shiro" rel="nofollow">Securing ZK Applications with Apache Shiro</a></b> by Ashish Dasnurkar on 6 March 2012.</li></ul>


<ul class="alternate" type="square"><li><b>Facebook Login with Apache Shiro</b> by Mike Warren on 28 November 2011
	<ul class="alternate" type="square"><li><a class="external-link" href="https://mrdwnotes.wordpress.com/2011/11/28/using-apache-shiro-security-to-allow-login-via-facebook-part-1/" rel="nofollow">Part 1</a></li><li><a class="external-link" href="https://mrdwnotes.wordpress.com/2011/11/28/using-apache-shiro-security-to-allow-login-via-facebook-part-2/" rel="nofollow">Part 2</a></li></ul>
	</li></ul>


<ul class="alternate" type="square"><li><b>Apache Shiro - a blog series by Meri</b>
	<ul class="alternate" type="square"><li><a class="external-link" href="http://meri-stuff.blogspot.com/2011/03/apache-shiro-part-1-basics.html" rel="nofollow">Part 1 - Basics</a> on 27 March 2011</li><li><a class="external-link" href="http://meri-stuff.blogspot.com/2011/04/apache-shiro-part-2-realms-database-and.html" rel="nofollow">Part 2 - Realms, Database and PGP Certificates</a> on 18 April 2011</li><li><a class="external-link" href="http://meri-stuff.blogspot.com/2011/12/apache-shiro-part-3-cryptography.html" rel="nofollow">Part 3 - Cryptography</a> on 4 December 2011</li></ul>
	</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="https://stormpath.com/blog/new-rbac-resource-based-access-control" rel="nofollow">The New RBAC: Resource-Based Access Control</a></b> by Les Hazlewood on 9 May 2011</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="http://blog.xebia.com/author/yamsellem/" rel="nofollow">HTTP Authentication and Security with Apache Shiro</a></b> blog article by yamsellem on 18 April 2011.</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="http://spring-java-ee.blogspot.com/2011/04/using-shiro-for-authorization-via-cdi.html" rel="nofollow">Using Shiro for Authorization via CDI Interceptors then Easily Test with Arquillian</a></b> blog article by Hendy Irawan on 16 April 2011.</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="http://blogs.mulesoft.com/dev/mule-dev/apache-shiro-support-for-mule/" rel="nofollow">Apache Shiro Support for Mule</a></b> by Dan Diephouse on 10 January 2011.</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="http://www.gdevelop.com/blog/2010/12/apache-shiro-on-appengine" rel="nofollow">Apache Shiro on Google AppEngine</a></b> by Trung on 13 December 2010.</li></ul>


<ul class="alternate" type="square"><li><b><a class="external-link" href="http://techbeats.deluan.com/apache-shiro-tags-for-jsffacelets" rel="nofollow">Apache Shiro tags for JSF - Securing Your JSF Pages</a></b> by Deluan Quint&#227;o on 1 November 2010.</li></ul>


<ul class="alternate" type="square"><li><b>Shiro DevNexus 2009 Presentation</b> by Jeremy Haile: (<a href="assets/images/articles/Ki-DevNexus-2009.pdf?version=1&amp;modificationDate=1246602947000">PDF</a>) (<a href="assets/images/articles/Ki-DevNexus-2009.key.zip?version=1&amp;modificationDate=1246602947000">Keynote</a>) (<a href="assets/images/articles/Ki-DevNexus-2009.ppt.zip?version=1&amp;modificationDate=1246602947000">Powerpoint</a>)</li></ul>
