#redirect('https://cwiki.apache.org/confluence/display/SHIRO/Performing+a+Release', 'https://cwiki.apache.org/confluence/display/SHIRO/Performing+a+Release')
<input type="hidden" id="ghEditPage" value="performing-a-release.html.vtl"></input>
