 @media screen{
 span.percentLabel
 {
 	display:block;
 	position:absolute;
 	text-align:center;
 	width:100px;
 	border-collapse:collapse;
 	font-weight: bold;
 	color: black;
 }
 }
 @media print{
 span.percentLabel
 {
 	display:block;
 	position:absolute;
 	text-align:center;
 	width:100px;
 	border-collapse:collapse;
 	font-weight: bold;
 	color: black;
 }
 }
 