@media all{

div.percentOuter
 {
 	border: 1px solid #808080 !important;
 	padding: 0px;
 	background-color: #FF5555 !important;
 	width: 100px;
 	border-collapse: collapse;
 }
 div.percentInner
 {
 	padding: 0px;
 	background-color: #77FF77 !important;
 	height: 1.3em;
 	border-collapse: collapse;
 }
 
 div.invertPercentOuter
 {
 	border: 1px solid #808080 !important;
 	padding: 0px;
 	background-color: #77FF77 !important;
 	width: 100px;
 	border-collapse: collapse;

 }
 div.invertPercentInner
 {
 	padding: 0px;
 	background-color: #FF5555 !important;
 	height: 1.3em;
 	border-collapse: collapse;
 }
}
 