#macro(warning $title, $message)
<div class="alert alert-warning">
    <span class="glyphicon glyphicon-warning-sign"></span> <strong>${title}</strong>
    <hr class="message-inner-separator">
    <p>${message}</p>
</div>
#end