/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  position:relative;
  width:1170px;
  max-width:1200px;
  padding:0 10px 0 10px;
}

#custom-footer {
  min-height: 60px;
  background-color: #e8e8e8;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #custom-footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit {
  margin: 20px 0;
}

/*code {
  font-size: 80%;
}*/


#top-bar {
  background:url('/img/topbar.jpg');
  height:6px;
  width:100%;
}

.tagline {
  white-space: nowrap;
  font-size: 24px !important;
}

/** =======================================================  */
/** Github Ribbon */
/** ======================================================= **/

.github-fork-ribbon.right-top:before {
  background-color: #3254a0;
}

.footer-padding {
  height: 160px;
}

.editThisPage {
  font-size:16px;
}

.copyright-footer {
  margin-left: 50px;
}

@media screen and (min-width: 1024px) {
  .footer-shield {
    position: absolute;
    width: 103px;
    height: 113px;
    right: 80px;
    top: -80px;
    background:url('/img/footer-shield.png') no-repeat;
  }
}

.btn-social {
  min-width: 32px;
}

.social-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  border-radius: 7px;
  margin-right: 11px;
  cursor: pointer
}

.social-twitter {
  background-color: #55acee
}

.social-facebook {
  background-color: #3b5999
}

.social-linkedin {
  background-color: #0077B5
}

.social-google {
  background-color: #dd4b39
}

.social-instagram {
  background-color: #dd4b39
}

.social-icon i {
  transition: 0.4s all
}

.social-icon:hover i {
  transform: scale(1.1)
}
