RedirectMatch ^/favicon.ico /assets/images/favicon.ico
RedirectMatch ^/shiro-all(.*) /static/current/shiro-all/$1
RedirectMatch ^/shiro-core(.*) /static/current/shiro-core/$1

RedirectMatch ^/shiro-quartz(.*) /static/current/shiro-quartz/$1
RedirectMatch ^/shiro-samples(.*) /static/current/shiro-samples/$1
RedirectMatch ^/shiro-ehcache(.*) /static/current/shiro-ehcache/$1
RedirectMatch ^/shiro-cas(.*) /static/current/shiro-cas/$1
RedirectMatch ^/shiro-aspectj(.*) /static/current/shiro-aspectj/$1
RedirectMatch ^/shiro-spring(.*) /static/current/shiro-spring/$1
RedirectMatch ^/shiro-guice(.*) /static/current/shiro-guice/$1
RedirectMatch ^/shiro-web(.*) /static/current/shiro-web/$1
RedirectMatch ^/spring.html /spring-framework.html
RedirectMatch ^/features-overview.html /features.html
RedirectMatch ^/contribute.html /how-to-contribute.html

# redirect blog posts
RedirectMatch ^/2013/05/30/apache-shiro-122-released.html /how-to-contribute.html

# redirect old file names
RedirectMatch ^/assets/images/articles/(.*) /files/articles/$1
