
























RedirectMatch /static/1.1.0(.*) /static/current$1
RedirectMatch /static/1.0.0-incubating(.*) /static/current$1
RedirectMatch /static/1.2.0(.*) /static/1.2.6$1

RedirectMatch /static/1.2.1/shiro-quartz(.*) /static/1.2.6/shiro-quartz/$1
RedirectMatch /static/1.2.1/shiro-samples(.*) /static/1.2.6/shiro-samples/$1
RedirectMatch /static/1.2.1/shiro-ehcache(.*) /static/1.2.6/shiro-ehcache/$1
RedirectMatch /static/1.2.1/shiro-cas(.*) /static/1.2.6/shiro-cas/$1
RedirectMatch /static/1.2.1/shiro-aspectj(.*) /static/1.2.6/shiro-aspectj/$1
RedirectMatch /static/1.2.1/shiro-spring(.*) /static/1.2.6/shiro-spring/$1
RedirectMatch /static/1.2.1/shiro-guice(.*) /static/1.2.6/shiro-guice/$1
RedirectMatch /static/1.2.1/shiro-web(.*) /static/1.2.6/shiro-web/$1
RedirectMatch /static/1.2.1/shiro-features(.*) /static/1.2.6/shiro-features/$1


RedirectMatch /static/(.*)/tools(.*) /static/$1/shiro-tools/$2

RedirectMatch /static/current(.*) /static/1.7.0$1
RedirectMatch /static/latest(.*) /static/1.7.0$1

