#parse( "templates/macros/danger.vtl" )
#parse( "templates/macros/info.vtl" )
#parse( "templates/macros/tip.vtl" )
#parse( "templates/macros/warning.vtl" )
#parse( "templates/macros/lend-a-hand.vtl" )
#parse( "templates/macros/redirect.vtl" )
#parse( "templates/macros/md-style-fix.vtl" )

#parse( "templates/versions.vtl" )
